:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-disabled > .swiper-pagination, .swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
:host(.swiper-horizontal.swiper-rtl) .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Fraction */
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
}

/* Progress */
.swiper-pagination-progressbar {
  background: var(--swiper-pagination-progressbar-bg-color, rgba(0, 0, 0, 0.25));
  position: absolute;
  /*ADD_HOST*/
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}
.swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
}
.swiper-vertical > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: var(--swiper-pagination-progressbar-size, 4px);
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}
/**
 * Swiper 9.2.4
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: April 21, 2023
 */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

.swiper,
swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide,
swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}
@charset "UTF-8";
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*подключаем шрифты*/
@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/tt.woff) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url(./fonts/ttbold.woff) format("truetype");
  font-weight: bold;
  font-style: normal;
}
.header {
  display: flex;
  flex-direction: row;
  height: 87px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D9FFF5;
  padding: 0 16px 0 16px;
  grid-area: header;
  background-color: #FFFFFF;
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }
}
.header .header__logo {
  margin-right: auto;
  margin-left: 16px;
}
.header .header__actions {
  display: flex;
  flex-direction: row;
}
.header .actions-call, .header .actions-chat, .header .actions-profile {
  display: none;
}
.header .actions-check {
  margin-left: 16px;
}
.header .actions-container {
  position: relative;
}
@media (min-width: 768px) {
  .header {
    padding: 0 24px 0 24px;
  }
  .header .actions-call, .header .actions-chat, .header .actions-profile {
    display: unset;
  }
  .header .actions-profile {
    margin-right: 40px;
  }
  .header .actions-chat {
    margin-right: 16px;
  }
  .header .actions-call {
    margin-right: 16px;
  }
  .header .header__logo {
    margin-left: 42px;
  }
  .header .header__logo::before {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 2px;
    position: absolute;
    left: 84px;
    top: 25px;
  }
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }
  .header .header__logo {
    margin-left: 42px;
  }
  .header .header__logo::before {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 2px;
    position: absolute;
    left: 84px;
    top: 25px;
  }
}

.actions-container:nth-child(4)::before {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  border-radius: 2px;
  position: absolute;
  left: -21px;
  top: 4px;
}

.burger-menu {
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.5s;
  width: 100%;
  position: fixed;
  z-index: 20;
  min-height: 100%;
}
@media (min-width: 361px) {
  .burger-menu {
    background-color: #FFFFFF;
    position: fixed;
    width: 320px;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
}
@media (min-width: 768px) {
  .burger-menu {
    background-color: #FFFFFF;
    position: fixed;
    width: 320px;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
}
@media (min-width: 1120px) {
  .burger-menu {
    display: unset;
    position: unset;
    transform: translateX(0);
    grid-area: aside;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 361px) {
  .blur .burger-menu:after {
    content: "";
    position: fixed;
    z-index: -1;
    left: 320px;
    width: 100vw;
    height: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.84);
    box-shadow: inset 16px 0px 52px rgba(14, 24, 80, 0.4);
  }
}

.burger-menu.active {
  transform: translateX(0);
}

.burger-menu__wrapper {
  display: flex;
  flex-direction: column;
  width: 86%;
  height: 98vh;
  margin: 0px auto;
}

.burger-menu__header {
  display: flex;
  height: 88px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1120px) {
  .burger-menu__header {
    margin-top: 10px;
  }
}

@media (min-width: 1120px) {
  .burger-menu__burger-btn {
    display: none;
  }
}

.burger-menu__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "TT Lakes", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  position: relative;
}

.burger-menu__actions-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.burger-menu__list__item {
  position: relative;
  margin-bottom: 32px;
  transition: 1s ease;
}

.burger-menu__list__item--active {
  position: relative;
  margin-bottom: 32px;
  transition: 1s ease;
  color: #7E7E82;
}

.burger-menu__list__item:hover:not(.burger-menu__list__item--active) {
  transform: scale(1.05) translateX(5px);
  opacity: 0.8;
  transition: all;
  transition-duration: 1s;
}

.burger-menu__list__item--active::before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 5px;
  position: absolute;
  left: -23px;
  top: -8px;
}

.burger-menu__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: auto;
}
@media (min-width: 1120px) {
  .burger-menu__footer {
    margin-top: auto;
  }
}

.burger-menu__action {
  margin-right: 16px;
  padding: 0;
}

.burger-menu__action button {
  padding: 0;
}

.burger-menu__action button:hover {
  padding: 0;
  transform: scale(1.08);
  transition-duration: 1s;
}

.burger-menu__email {
  font-family: "TT Lakes", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-top: 16px;
}

.burger-menu__phone {
  font-family: "TT Lakes Bold", "Tahoma", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: bold;
  margin-top: 12px;
}

input {
  display: none;
}

.burger-menu__language {
  margin-top: auto;
}

.burger-menu__language label:nth-of-type(1) {
  color: grey;
}

.burger-menu__language label:hover:not(:nth-of-type(1)) {
  transform: scale(1.1);
  color: #41F6D7;
  cursor: pointer;
}

.burger-menu__header button:hover {
  transform: scale(1.1);
  transition: all;
  transition-duration: 1s;
}

.header__logo {
  margin-right: auto;
  margin-left: 16px;
}

.services__title {
  font-family: "TT Lakes Bold", "Tahoma", sans-serif;
  font-size: 28px;
  line-height: 40px;
  padding: 0;
  margin: 24px 16px;
}
@media (min-width: 768px) {
  .services__title {
    margin: 24px 24px;
  }
}
@media (min-width: 1120px) {
  .services__title {
    margin-left: 35px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.services__actions {
  display: none;
}
@media (min-width: 768px) {
  .services__actions {
    display: none;
  }
}
@media (min-width: 1120px) {
  .services__actions {
    display: flex;
  }
  .services__actions button {
    display: flex;
    align-items: center;
  }
}

.services-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.services__title::before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 5px;
  position: absolute;
  left: -1px;
}

.services__list {
  display: flex;
  color: #7E7E82;
  font-size: 16px;
  list-style-type: none;
  white-space: nowrap;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
  margin-bottom: 16px;
  margin-left: 16px;
  margin-top: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .services__list {
    margin-left: 24px;
  }
}
@media (min-width: 1120px) {
  .services__list {
    overflow: unset;
    flex-wrap: wrap;
    margin-left: 34px;
    margin-bottom: 0;
  }
  .services__list li {
    margin-right: 5px;
    height: 15px;
  }
}

.services__list::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.services__list-link {
  display: block;
  padding: 8px 15px;
  border: 2px solid transparent;
  border-radius: 6px;
}

.services__list-link:hover, .services__list-link:active, .services__list-link:focus {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #FFFFFF;
  outline: none;
}

.services__list-link--active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #FFFFFF;
  outline: none;
  display: block;
  padding: 8px 15px;
}

.actions-search {
  margin-left: 32px;
  margin-right: 28px;
}

.services__actions li button img {
  padding-left: 8px;
}

.content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }
}
@media (min-width: 1120px) {
  .content {
    flex-direction: row;
  }
}

.content-wrapper {
  padding: 0;
  margin: 0;
}
.content-wrapper .content__text {
  display: inline-block;
  margin-left: 16px;
  padding-right: 18px;
}
@media (min-width: 768px) {
  .content-wrapper .content__text {
    margin-left: 24px;
    padding-right: 0;
  }
}
@media (min-width: 1120px) {
  .content-wrapper .content__text {
    margin-left: 34px;
    padding-right: 0;
  }
}

.content__text-expand {
  display: none;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .content__text-expand {
    display: inline-block;
    margin-left: 24px;
  }
}
@media (min-width: 1120px) {
  .content__text-expand {
    display: inline-block;
    margin-left: 34px;
  }
}

.btn {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.main__img--max {
  display: none;
}
@media (min-width: 1300px) {
  .main__img--max {
    display: unset;
    width: 531px;
    height: 307px;
    margin-left: 35px;
    margin-top: 16px;
    margin-right: 28px;
  }
}

.main__img {
  width: 320px;
  height: 176px;
}
@media (min-width: 768px) {
  .main__img {
    width: 360px;
    height: 208px;
    margin-top: 16px;
    margin-left: 48px;
  }
}
@media (min-width: 1300px) {
  .main__img {
    display: none;
  }
}

.hidden-text {
  display: none;
}
@media (min-width: 1120px) {
  .hidden-text {
    display: inline;
  }
}

.content__show-more-btn {
  margin-left: 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  width: 150px;
  height: 30px;
  position: relative;
}
@media (min-width: 1120px) {
  .content__show-more-btn {
    display: none;
  }
}

.content__show-more-btn:before {
  content: "Читать далее";
  position: absolute;
  left: 30px;
}

.full:before {
  content: "Скрыть";
  position: absolute;
  left: 30px;
}

.full .result {
  transform: rotate(-180deg);
}

.repair-brands__title {
  display: block;
  border-top: 1px solid #D9FFF5;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  color: #7E7E82;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 16px;
}

.repair-brands__slider {
  padding: 25px;
}

.swiper-brands {
  width: 300px;
  height: 100px;
  position: relative;
}
@media (min-width: 768px) {
  .swiper-brands {
    width: auto;
    height: auto;
    position: unset;
  }
}
@media (min-width: 1120px) {
  .swiper-brands {
    width: auto;
    height: auto;
    position: unset;
  }
}

@media (min-width: 768px) {
  .swiper-brands .swiper-wrapper {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-flow: row;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 16px;
    max-height: 160px;
  }
}
@media (min-width: 1120px) {
  .swiper-brands .swiper-wrapper {
    display: grid;
    margin: 0;
    padding-right: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-flow: row;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 16px;
    max-height: 160px;
  }
}

@media (min-width: 768px) {
  .swiper-wrapper.swiper1.height {
    max-height: unset;
  }
}
@media (min-width: 1120px) {
  .swiper-wrapper.swiper1.height {
    max-height: unset;
  }
}

.swiper-brand-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  height: 72px;
  padding: 16px;
}

.repair-brands__show-more-btn {
  margin-top: 24px;
  margin-left: 0;
  display: none;
  width: 150px;
  height: 30px;
  position: relative;
}
@media (min-width: 768px) {
  .repair-brands__show-more-btn {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1120px) {
  .repair-brands__show-more-btn {
    display: flex;
    align-items: center;
  }
}

.repair-brands__show-more-btn:before {
  content: "Показать всё";
  position: absolute;
  left: 30px;
}

.coll:before {
  content: "Скрыть";
  position: absolute;
  left: 30px;
}

.result {
  transition-duration: 1.2s;
}

.coll .result {
  transform: rotate(-180deg);
}

.swiper-pagination {
  width: 25px;
  height: 25px;
  margin: -15px auto;
}

.swiper-pagination-bullet-active {
  background-color: #909093;
}

.swiper-brands:before {
  content: "";
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  /*background: linear-gradient(270deg, rgb(255, 255, 255) 19%, rgba(248, 248, 248, 0.0) 100%);*/
  height: 73px;
  width: 40px;
  position: absolute;
  right: -2px;
  z-index: 2;
}

.repair-tech__slider {
  padding: 25px;
}

.swiper-tech {
  width: 300px;
  height: 190px;
  position: relative;
}
@media (min-width: 768px) {
  .swiper-tech {
    width: auto;
    height: auto;
    position: unset;
  }
}
@media (min-width: 1120px) {
  .swiper-tech {
    width: auto;
    height: auto;
    position: unset;
  }
}

@media (min-width: 768px) {
  .swiper-tech .swiper-wrapper {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-flow: row;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 16px;
    max-height: 160px;
  }
}
@media (min-width: 1120px) {
  .swiper-tech .swiper-wrapper {
    display: grid;
    margin: 0;
    padding-right: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-flow: row;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 16px;
    max-height: 160px;
  }
}

.swiper-tech-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  padding: 16px;
  height: 150px;
  color: #1B1C21;
}
.swiper-tech-slide img {
  align-self: flex-end;
}

.repair-tech__show-more-btn {
  margin-top: 24px;
  margin-left: 0;
  display: none;
  width: 150px;
  height: 30px;
  position: relative;
}
@media (min-width: 768px) {
  .repair-tech__show-more-btn {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1120px) {
  .repair-tech__show-more-btn {
    display: flex;
    align-items: center;
  }
}

.repair-tech__show-more-btn:before {
  content: "Показать всё";
  position: absolute;
  left: 30px;
}

.coll:before {
  content: "Скрыть";
  position: absolute;
  left: 30px;
}

.coll .result {
  transform: rotate(-180deg);
}

@media (min-width: 768px) {
  .swiper-wrapper.swiper2.height {
    max-height: unset;
  }
}
@media (min-width: 1120px) {
  .swiper-wrapper.swiper2.height {
    max-height: unset;
  }
}

.swiper-tech:before {
  content: "";
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  /*background: linear-gradient(270deg, rgb(255, 255, 255) 19%, rgba(248, 248, 248, 0.0) 100%);*/
  height: 150px;
  width: 40px;
  position: absolute;
  right: -2px;
  z-index: 2;
}

.services-prices__slider {
  padding: 25px;
  padding-bottom: 0;
}

.swiper-prices {
  width: 300px;
  height: 220px;
  position: relative;
}
@media (min-width: 768px) {
  .swiper-prices {
    width: auto;
    height: auto;
    position: unset;
  }
}
@media (min-width: 1120px) {
  .swiper-prices {
    width: auto;
    height: auto;
    position: unset;
  }
}

@media (min-width: 768px) {
  .swiper-prices .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1120px) {
  .swiper-prices .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.swiper-price-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  width: 180px;
  height: 160px;
}
@media (min-width: 768px) {
  .swiper-price-slide {
    width: unset;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 0;
    padding: 16px;
  }
}
@media (min-width: 1120px) {
  .swiper-price-slide {
    width: unset;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
}

.swiper-price-slide:not(:last-child):after {
  position: absolute;
  background-color: #EAEAEA;
  width: 95%;
  height: 1px;
  bottom: 1px;
}
@media (min-width: 768px) {
  .swiper-price-slide:not(:last-child):after {
    content: "";
    width: 96%;
    left: 18px;
  }
}
@media (min-width: 1120px) {
  .swiper-price-slide:not(:last-child):after {
    content: "";
    width: 96%;
    left: 18px;
  }
}

.swiper-price-slide__service-option {
  width: unset;
}
@media (min-width: 768px) {
  .swiper-price-slide__service-option {
    width: 300px;
  }
}
@media (min-width: 1120px) {
  .swiper-price-slide__service-option {
    width: 300px;
  }
}

.swiper-price-slide__price {
  width: unset;
}
@media (min-width: 768px) {
  .swiper-price-slide__price {
    width: 110px;
  }
}
@media (min-width: 1120px) {
  .swiper-price-slide__price {
    width: 110px;
  }
}

.swiper-price-slide__timing {
  width: unset;
}
@media (min-width: 768px) {
  .swiper-price-slide__timing {
    width: 110px;
  }
}
@media (min-width: 1120px) {
  .swiper-price-slide__timing {
    width: 110px;
  }
}

.swiper-price-slide__service-title, .swiper-price-slide__price-title, .swiper-price-slide__timing-title {
  margin: 0;
  color: #7E7E82;
  font-size: 14px;
}
@media (min-width: 768px) {
  .swiper-price-slide__service-title, .swiper-price-slide__price-title, .swiper-price-slide__timing-title {
    display: none;
  }
}
@media (min-width: 1120px) {
  .swiper-price-slide__service-title, .swiper-price-slide__price-title, .swiper-price-slide__timing-title {
    display: none;
  }
}

.swiper-price-slide__service-option, .swiper-price-slide__price, .swiper-price-slide__timing {
  margin: 0;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .swiper-price-slide__service-option, .swiper-price-slide__price, .swiper-price-slide__timing {
    margin: unset;
  }
}
@media (min-width: 1120px) {
  .swiper-price-slide__service-option, .swiper-price-slide__price, .swiper-price-slide__timing {
    margin: unset;
  }
}

.swiper-price-slide__service-title {
  margin-top: 16px;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .swiper-price-slide__service-title {
    margin: unset;
  }
}
@media (min-width: 1120px) {
  .swiper-price-slide__service-title {
    margin: unset;
  }
}

.swiper-price-slide__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  position: absolute;
  bottom: 16px;
  right: 16px;
  border-radius: 16px;
  height: 32px;
  width: 119px;
  font-size: 12px;
  color: white;
  background: #FF3E79;
}
@media (min-width: 768px) {
  .swiper-price-slide__btn {
    position: unset;
    width: 119px;
  }
}
@media (min-width: 1120px) {
  .swiper-price-slide__btn {
    position: unset;
    width: 119px;
  }
}

.swiper-price-slide__price-title {
  margin-top: 10px;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .swiper-price-slide__price-title {
    margin: unset;
  }
}
@media (min-width: 1120px) {
  .swiper-price-slide__price-title {
    margin: unset;
  }
}

.swiper-price-slide__timing-title {
  margin-top: 10px;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .swiper-price-slide__timing-title {
    margin: unset;
  }
}
@media (min-width: 1120px) {
  .swiper-price-slide__timing-title {
    margin: unset;
  }
}

.swiper-price-slide__timing {
  margin-bottom: 16px;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .swiper-price-slide__timing {
    margin: unset;
  }
}
@media (min-width: 1120px) {
  .swiper-price-slide__timing {
    margin: unset;
  }
}

.services-prices__slider-hidden-title {
  display: none;
  list-style-type: none;
  margin-top: 0;
  color: #7E7E82;
}
@media (min-width: 768px) {
  .services-prices__slider-hidden-title {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
  }
}
@media (min-width: 1120px) {
  .services-prices__slider-hidden-title {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
  }
}

.hidden-title__services {
  width: 260px;
}

.hidden-title__price {
  width: 75px;
}

.hidden-title__timing {
  width: 60px;
}

.hidden-title__positioning {
  width: 150px;
}

.swiper-prices:before {
  content: "";
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  /*background: linear-gradient(270deg, rgb(255, 255, 255) 19%, rgba(248, 248, 248, 0.0) 100%);*/
  height: 162px;
  width: 40px;
  position: absolute;
  right: -2px;
  z-index: 2;
}

.disclaimer {
  grid-area: disclaimer;
}

.disclaimer__content.content__text {
  display: inline-block;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .disclaimer__content.content__text {
    margin-left: 24px;
    margin-top: 24px;
    width: 60%;
  }
}
@media (min-width: 1120px) {
  .disclaimer__content.content__text {
    margin-left: 32px;
    margin-top: 32px;
    width: 40%;
  }
}

.order {
  grid-area: commercial-order;
}

.order__btn {
  color: #1B1C21;
  font-weight: bold;
  font-size: 16px;
  width: 210px;
  text-align: left;
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .order__btn {
    margin-left: 24px;
    margin-top: 24px;
    width: 325px;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1120px) {
  .order__btn {
    margin-left: 32px;
    margin-top: 32px;
    width: 325px;
    display: flex;
    align-items: center;
  }
}
.order__btn img {
  margin-left: 8px;
}

.footer {
  grid-area: bottom;
  border-top: 1px solid #D9FFF5;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .footer {
    margin-top: 47px;
  }
}
@media (min-width: 1120px) {
  .footer {
    margin-top: 50px;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__copyright {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1120px) {
  .footer__copyright {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__about {
  color: #7E7E82;
  flex-basis: 33%;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__about {
    text-align: left;
    margin-left: 24px;
  }
}
@media (min-width: 1120px) {
  .footer__about {
    text-align: left;
    margin-left: 32px;
  }
}

.footer__discalimer {
  color: #7E7E82;
  flex-basis: 33%;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__discalimer {
    text-align: center;
  }
}
@media (min-width: 1120px) {
  .footer__discalimer {
    text-align: center;
  }
}

.footer__oferta {
  color: #7E7E82;
  flex-basis: 33%;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__oferta {
    text-align: right;
    margin-right: 24px;
  }
}
@media (min-width: 1120px) {
  .footer__oferta {
    text-align: right;
    margin-right: 32px;
  }
}

dialog::backdrop {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.84);
}

.modal-request, .modal-call {
  padding: 20px;
  border: none;
  margin: 0;
  height: 100vh;
  max-height: 100%;
}
@media (min-width: 360px) {
  .modal-request, .modal-call {
    box-sizing: border-box;
    width: 440px;
    margin-left: auto;
    border: 1px solid #D9FFF5;
    padding: 40px 32px;
    overflow: visible;
    box-shadow: -38px -20px 13px -26px rgba(34, 60, 80, 0.2);
  }
}

.modal-request__wrapper, .modal-call__wrapper {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-request__title-wrapper, .modal-call__title-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1120px) {
  .modal-request__title-wrapper, .modal-call__title-wrapper {
    flex-direction: row;
  }
}

#modal-request__close-btn, #modal-call__close-btn {
  position: unset;
  margin-right: auto;
}
@media (min-width: 1120px) {
  #modal-request__close-btn, #modal-call__close-btn {
    position: absolute;
    left: -75px;
    top: 30px;
  }
}

.text-field__input {
  display: inline-block;
  height: 48px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 16px;
  color: #212529;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  margin-right: 0px;
  margin-bottom: 16px;
}

#message {
  height: 118px;
  resize: none;
}
@media (min-width: 360px) {
  #message {
    box-sizing: border-box;
    width: 100%;
    height: 118px;
    resize: none;
  }
}

.modal-request__wrapper .services__title {
  margin-left: 0;
  margin-bottom: 24px;
}

.modal-call__wrapper .services__title {
  margin-left: 0;
}

.form__text-field {
  display: flex;
  flex-direction: column;
}

@media (min-width: 360px) {
  .modal-request__disclaimer {
    display: inline-block;
    width: 376px;
  }
}

.modal-pink {
  color: #FF3E79;
}

.modal-request__submit-btn, .modal-call__submit-btn {
  align-items: center;
  margin-left: auto;
  position: unset;
}

.modal-call .form__text-field {
  margin-top: 24px;
}

.wrapper {
  font-family: "TT Lakes";
  min-width: 320px;
  max-width: 768px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "title" "services-menu" "content" "repair-brands" "repair-tech" "prices-slider" "disclaimer" "commercial-order" "bottom";
}
@media (min-width: 768px) {
  .wrapper {
    min-width: 768px;
    max-width: 1120px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "title" "services-menu" "content" "repair-brands" "repair-tech" "prices-slider" "disclaimer" "commercial-order" "bottom";
  }
}
@media (min-width: 1120px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    min-width: 1120px;
    max-width: 1440px;
    grid-template-columns: 320px 1fr;
    grid-template-rows: [title] 110px [services-menu] 90px [content] 330px [repair-brands] auto [repair-tech] auto;
    grid-template-areas: "aside title" "aside services-menu" "aside content" "aside repair-brands" "aside repair-tech" "aside prices-slider" "aside disclaimer" "aside commercial-order" "aside bottom";
  }
}

body {
  background-color: #F8F8F8;
}
body p {
  font-family: "TT Lakes", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #1B1C21;
  letter-spacing: 0.2px;
  text-align: left;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.services-wrapper {
  grid-area: title;
}

.services__list {
  grid-area: services-menu;
}

.content {
  grid-area: content;
}

.repair-brands {
  grid-area: repair-brands;
}

.repair-tech {
  grid-area: repair-tech;
}

.services-prices {
  grid-area: prices-slider;
}

button {
  cursor: pointer;
  font-family: "TT Lakes", "Tahoma", sans-serif;
  font-size: 16px;
  background-color: transparent;
  border: none;
  padding: 0;
}

ul {
  list-style-type: none;
}

@media (min-width: 768px) {
  .swiper-pagination-bullet {
    display: none;
  }
}
@media (min-width: 1120px) {
  .swiper-pagination-bullet {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map*/