.disclaimer {
  grid-area: disclaimer;
}


.disclaimer__content.content__text {
  display: inline-block;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 0;
  @media (min-width: 768px) {
    margin-left: 24px;
    margin-top: 24px;
    width: 60%;
  }
  @media (min-width: 1120px) {
    margin-left: 32px;
    margin-top: 32px;
    width: 40%;
  }
}

.order {
  grid-area: commercial-order;
}

.order__btn{
  color: #1B1C21;
  font-weight: bold;
  font-size: 16px;

  width: 210px;
  text-align: left;
  margin-left: 16px;
  margin-top: 16px;

  @media (min-width: 768px) {
    margin-left: 24px;
    margin-top: 24px;
    width: 325px;

    display: flex;
    align-items: center;

  }
  @media (min-width: 1120px) {
    margin-left: 32px;
    margin-top: 32px;
    width: 325px;

    display: flex;
    align-items: center;
  }
  img {
    margin-left: 8px;
  }
}

.footer {
  grid-area: bottom;
  border-top: 1px solid #D9FFF5;
  margin-top: 40px;
  @media (min-width: 768px) {
    margin-top: 47px;
  }
  @media (min-width: 1120px) {
    margin-top: 50px;
  }

}

.footer__copyright {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: 1120px) {
    flex-direction: row;
    justify-content: space-between;
  }

}

.footer__about {
  color: #7E7E82;
  flex-basis: 33%;
  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
    margin-left: 24px;
  }
  @media (min-width: 1120px) {
    text-align: left;
    margin-left: 32px;
  }
}

.footer__discalimer {
  color: #7E7E82;
  flex-basis: 33%;
  text-align: center;
  @media (min-width: 768px) {
    text-align: center;

  }
  @media (min-width: 1120px) {
    text-align: center;

  }
}
.footer__oferta {
  color: #7E7E82;
  flex-basis: 33%;
  text-align: center;
  @media (min-width: 768px) {
    text-align: right;
    margin-right: 24px;

  }
  @media (min-width: 1120px) {
    text-align: right;
    margin-right: 32px;
  }
}

