dialog::backdrop{
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.84);
}

.modal-request, .modal-call {
  padding: 20px;
  border: none;
  margin: 0;
  height: 100vh;
  max-height: 100%;

  @media (min-width: 360px) {
    position: fixed;
    box-sizing: border-box;
    width: 440px;
    margin-left: auto;
    border: 1px solid #D9FFF5;
    padding: 40px 32px;
    overflow: visible;
    box-shadow: -38px -20px 13px -26px rgba(34, 60, 80, 0.2);

  }
}

.modal-request__wrapper, .modal-call__wrapper{
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-request__title-wrapper, .modal-call__title-wrapper {
  display: flex;
  flex-direction: column;
  @media (min-width: 1120px) {
    flex-direction: row;
  }

}

#modal-request__close-btn, #modal-call__close-btn {
  position: unset;
  margin-right: auto;

  @media (min-width: 1120px) {
    position: absolute;
    left: -75px;
    top: 30px;
  }
}

//#repair-submit__input-name {
//  border: 1px solid #bdbdbd;
//  border-radius: 0.25rem;
//}

.text-field__input {
  display: inline-block;
  height: 48px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 16px;
  color: #212529;
  background-color: #fff;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  margin-right: 0px;
  margin-bottom: 16px;
}

#message {
  height: 118px;
  resize: none;
  @media (min-width: 360px) {
    box-sizing: border-box;
    max-width: 376px;
    height: 118px;
    resize: none;
  }
}

.modal-request__wrapper .services__title{
  margin-left: 0;
  margin-bottom: 24px;
}

.modal-call__wrapper .services__title {
  margin-left: 0;
  //margin-bottom: 24px;
}

.form__text-field {
  display: flex;
  flex-direction: column;
}

.modal-request__disclaimer {

  @media (min-width: 360px) {
    display: inline-block;
    max-width: 376px;
  }
}

.modal-pink {
  color: #FF3E79;
}

.modal-request__submit-btn, .modal-call__submit-btn {
  align-items: center;
  margin-left: auto;
  position: unset;

}

.modal-call {
  .form__text-field {
    margin-top: 24px;
  }
}