
.wrapper {
    min-width: 320px;
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "title"
                         "top-slider"
                         "top-slider-menu"
                         "content"
                         "s1h"
                         "s1";
}

.burger-menu {
    display: none;
}

.header {
    grid-area: header;
}
.title-uslugi {
    grid-area: title;
}
.slider-menu {
    grid-area: top-slider;
}

.main__list {
    grid-area: top-slider-menu;
}

.content {
    grid-area: content;
}
.slider1_h {
    grid-area: s1h;
}
.slider1 {
    grid-area: s1;
}

@media (min-width: 768px) {
    .burger-menu {
        display: none;
    }
    .wrapper {
        min-width: 768px;
        max-width: 1120px;

        grid-template-columns: 1fr;
        grid-template-areas: "header"
                         "title"
                         "top-slider"
                         "top-slider-menu"
                         "content"
                         "s1h"
                         "s1";
    }

}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
    .burger-menu {
        display: unset;
        grid-area: aside;
    }
    .wrapper {
        margin-left: auto;
        margin-right: auto;
        min-width: 1120px;
        max-width: 1440px;
        grid-template-columns: 320px 1fr;
        grid-template-areas:   "aside title"
                               "aside top-slider"
                               "aside top-slider-menu"
                               "aside content"
                               "aside s1h"
                               "aside s1";
    }

}
