.repair-brands__title {
  display: block;
  border-top: 1px solid #D9FFF5;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  color: #7E7E82;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 16px;
}
.swiper-wrapper{
  display: grid;
  margin: 0 32px;

  /* Три колонки */
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-auto-flow: row;
  column-gap: 32px;
  row-gap: 16px;
}

.brands-slide {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  height: 72px;
  padding: 16px;
}