.repair-tech__slider {
  padding: 25px;
}

.swiper-tech{
  width: 300px;
  height: 190px;
  position: relative;
  @media (min-width: 768px) {
    width: auto;
    height: auto;
    position: unset;
  }
  @media (min-width: 1120px) {
    width: auto;
    height: auto;
    position: unset;
  }
}

.swiper-tech .swiper-wrapper {

  @media (min-width: 768px) {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-flow: row;
    column-gap: 32px;
    row-gap: 16px;
    max-height: 160px;
  }
  @media (min-width: 1120px) {
    display: grid;
    margin: 0;
    padding-right: 20px;

    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-flow: row;
    column-gap: 32px;
    row-gap: 16px;
    max-height: 160px;
  }
}

.swiper-tech-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  padding: 16px;

  height: 150px;
  color: #1B1C21;

  img {
    align-self: flex-end;
  }
}


.repair-tech__show-more-btn {
  margin-top: 24px;
  margin-left:0;
  display: none;
  width: 150px;
  height: 30px;
  position: relative;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media (min-width: 1120px) {
    display: flex;
    align-items: center;
  }
}

.repair-tech__show-more-btn:before {
  content: 'Показать всё';
  color: #1B1C21;
  position: absolute;
  left: 30px
}

.coll:before {
  content: 'Скрыть';
  position: absolute;
  left: 30px;
  color: #1B1C21;
}

.coll .result {
  transform: rotate(-180deg);
}

.swiper-wrapper.swiper2.height {
  @media (min-width: 768px) {
    max-height: unset;
  }
  @media (min-width: 1120px) {
    max-height: unset;
  }
}

.swiper-tech:before {
  content: '';
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  /*background: linear-gradient(270deg, rgb(255, 255, 255) 19%, rgba(248, 248, 248, 0.0) 100%);*/
  height: 150px ;
  width: 40px;
  position: absolute;
  right: -2px;
  z-index: 2;
}