$screen-xs: 320px;
$screen-sm: 360px;
$screen-md: 768px;
$screen-lg: 1120px;
$screen-xl: 1366px;

$font-family: "TT Lakes";
$font-family-bold: "'TT Lakes Bold'";

$body-bg: #F8F8F8;
$header-bg: #FFFFFF;
$border-blue: #D9FFF5;

